@import '../../../colors/material/red.scss';

.cy-bg-mt-red {
    background-color: $mt-red;
}

.cy-bg-mt-red100 {
    background-color: $mt-red100;
}

.cy-bg-mt-red200 {
    background-color: $mt-red200;
}

.cy-bg-mt-red300 {
    background-color: $mt-red300;
}

.cy-bg-mt-red400 {
    background-color: $mt-red400;
}

.cy-bg-mt-red500 {
    background-color: $mt-red500;
}

.cy-bg-mt-red600 {
    background-color: $mt-red600;
}

.cy-bg-mt-red700 {
    background-color: $mt-red700;
}

.cy-bg-mt-red800 {
    background-color: $mt-red800;
}

.cy-bg-mt-red900 {
    background-color: $mt-red900;
}

.cy-bg-mt-redA100 {
    background-color: $mt-redA100;
}

.cy-bg-mt-redA200 {
    background-color: $mt-redA200;
}

.cy-bg-mt-redA400 {
    background-color: $mt-redA400;
}

.cy-bg-mt-redA700 {
    background-color: $mt-redA700;
}