$mt-blue: #2196F3;
$mt-blue50: #E3F2FD;
$mt-blue100: #BBDEFB;
$mt-blue200: #90CAF9;
$mt-blue300: #64B5F6;
$mt-blue400: #42A5F5;
$mt-blue500: #2196F3;
$mt-blue600: #1E88E5;
$mt-blue700: #1976D2;
$mt-blue800: #1565C0;
$mt-blue900: #0D47A1;
$mt-blueA100: #82B1FF;
$mt-blueA200: #448AFF;
$mt-blueA400: #2979FF;
$mt-blueA700: #2962FF;