$mt-cyan: #00BCD4;
$mt-cyan50: #E0F7FA;
$mt-cyan100: #B2EBF2;
$mt-cyan200: #80DEEA;
$mt-cyan300: #4DD0E1;
$mt-cyan400: #26C6DA;
$mt-cyan500: #00BCD4;
$mt-cyan600: #00ACC1;
$mt-cyan700: #0097A7;
$mt-cyan800: #00838F;
$mt-cyan900: #006064;
$mt-cyanA100: #84FFFF;
$mt-cyanA200: #18FFFF;
$mt-cyanA400: #00E5FF;
$mt-cyanA700: #00B8D4;