$mt-dpurple: #673AB7;
$mt-dpurple50 : #EDE7F6;
$mt-dpurple100: #D1C4E9;
$mt-dpurple200: #B39DDB;
$mt-dpurple300:#9575CD;
$mt-dpurple400: #7E57C2;
$mt-dpurple500: #673AB7;
$mt-dpurple600: #5E35B1;
$mt-dpurple700: #512DA8;
$mt-dpurple800: #4527A0;
$mt-dpurple900: #311B92;
$mt-dpurpleA100: #B388FF;
$mt-dpurpleA200: #7C4DFF;
$mt-dpurpleA400: #651FFF;
$mt-dpurpleA700: #6200EA;