$mt-green: #4CAF50;
$mt-green50: #E8F5E9;
$mt-green100: #C8E6C9;
$mt-green200: #A5D6A7;
$mt-green300: #81C784;
$mt-green400: #66BB6A;
$mt-green500: #4CAF50;
$mt-green600: #43A047;
$mt-green700: #388E3C;
$mt-green800: #2E7D32;
$mt-green900: #1B5E20;
$mt-greenA100: #B9F6CA;
$mt-greenA200: #69F0AE;
$mt-greenA400: #00E676;
$mt-greenA700: #00C853;