$mt-indigo: #3F51B5;
$mt-indigo50: #E8EAF6;
$mt-indigo100: #C5CAE9;
$mt-indigo200: #9FA8DA;
$mt-indigo300: #7986CB;
$mt-indigo400: #5C6BC0;
$mt-indigo500: #3F51B5;
$mt-indigo600: #3949AB;
$mt-indigo700: #303F9F;
$mt-indigo800: #283593;
$mt-indigo900: #1A237E;
$mt-indigoA100: #8C9EFF;
$mt-indigoA200: #536DFE;
$mt-indigoA400: #3D5AFE;
$mt-indigoA700: #304FFE;