$mt-lgreen: #8BC34A;
$mt-lgreen50: #F1F8E9;
$mt-lgreen100: #DCEDC8;
$mt-lgreen200: #C5E1A5;
$mt-lgreen300: #AED581;
$mt-lgreen400: #9CCC65;
$mt-lgreen500: #8BC34A;
$mt-lgreen600: #7CB342;
$mt-lgreen700: #689F38;
$mt-lgreen800: #558B2F;
$mt-lgreen900: #33691E;
$mt-lgreenA100: #CCFF90;
$mt-lgreenA200: #B2FF59;
$mt-lgreenA400: #76FF03;
$mt-lgreenA700: #64DD17;