$mt-lblue: #2962FF;
$mt-lblue50: #E1F5FE;
$mt-lblue100: #B3E5FC;
$mt-lblue200: #81D4FA;
$mt-lblue300: #4FC3F7;
$mt-lblue400: #29B6F6;
$mt-lblue500: #03A9F4;
$mt-lblue600: #039BE5;
$mt-lblue700: #0288D1;
$mt-lblue800: #0277BD;
$mt-lblue900: #01579B;
$mt-lblueA100: #80D8FF;
$mt-lblueA200: #40C4FF;
$mt-lblueA400: #00B0FF;
$mt-lblueA700: #0091EA;