$mt-pink: #E91E63;
$mt-pink50: #FCE4EC;
$mt-pink100: #F8BBD0;
$mt-pink200: #F48FB1;
$mt-pink300: #F06292;
$mt-pink400: #EC407A;
$mt-pink500: #E91E63;
$mt-pink600: #D81B60;
$mt-pink700: #C2185B;
$mt-pink800: #AD1457;
$mt-pink900: #880E4F;
$mt-pinkA100: #FF80AB;
$mt-pinkA200: #FF4081;
$mt-pink400: #F50057;
$mt-pink700: #C51162;