$mt-purple: #9C27B0;
$mt-purple50: #F3E5F5;
$mt-purple100: #E1BEE7;
$mt-purple200: #CE93D8;
$mt-purple300: #BA68C8;
$mt-purple400: #AB47BC;
$mt-purple500: #9C27B0;
$mt-purple600: #8E24AA;
$mt-purple700: #7B1FA2;
$mt-purple800: #6A1B9A;
$mt-purple900: #4A148C;
$mt-purpleA100: #EA80FC;
$mt-purpleA200: #E040FB;
$mt-purpleA400: #D500F9;
$mt-purpleA700: #AA00FF;