$mt-red: #f44336;
$mt-red50: #ffebee;
$mt-red100: #ffcdd2;
$mt-red200: #ef9a9a;
$mt-red300: #e57373;
$mt-red400: #ef5350;
$mt-red500: #f44336;
$mt-red600: #e53935;
$mt-red700: #d32f2f;
$mt-red800: #c62828;
$mt-red900: #b71c1c;
$mt-redA100: #ff8a80;
$mt-redA200: #ff5252;
$mt-redA400: #ff1744;
$mt-redA700: #d50000;