$mt-teal: #009688;
$mt-teal50: #E0F2F1;
$mt-teal100: #B2DFDB;
$mt-teal200: #80CBC4;
$mt-teal300: #4DB6AC;
$mt-teal400: #26A69A;
$mt-teal500: #009688;
$mt-teal600: #00897B;
$mt-teal700: #00796B;
$mt-teal800: #00695C;
$mt-teal900: #004D40;
$mt-tealA100: #A7FFEB;
$mt-tealA200: #64FFDA;
$mt-tealA400: #1DE9B6;
$mt-tealA700: #00BFA5;